/*
Stylesheet for CSS Demo
*/

/* ---------------Box Sizing----------------- */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

/* ---------------Utility Classes----------------- */

.container{
  width:70vw;
  margin:40px auto;
}

/* ---------------Global Styles----------------- */

/* Color Palette
  #3D5FFF
  #3885E8
  #4AC8FF
  #38E2E8
  #3DFFD0
*/

body {
    font-family: 'Roboto Condensed', sans-serif;
    margin:0;
}

header.primary {
    background-color:#3D5FFF;
    text-align:center;
    color:#ffffff;
    padding:40px;
    /* Long Form */  
    padding-top:40px;
    padding-right:40px;
    padding-bottom:40px;
    padding-left:40px; 
    /* T,R,B,L */ 
    padding:40px 40px 40px 40px;   
    /* Top/Bottom  Right/Left */
    padding: 40px 40px;   
    text-shadow: 2px 2px #000000;  
}

header.primary h1 {
    font-size:2.6rem;
    margin:20px 0;
}

header.primary h1 a{
    color:#fff;
    text-decoration:none;
  }

header.primary h2{
    font-size:1.4rem;
    /* Top | Left/Right | Bottom */
    margin:20px auto 40px;
}

header.primary nav{
    width:80vw;
    margin:0 auto;
    max-width:900px;
}

header.primary nav ul{
    /*removes extra space from list item attachments*/
    padding:0;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

header.primary nav ul li{
    list-style-type:none;
}

header.primary nav ul li a{
    color:#ffffff;
    text-decoration:none;
    background-color:rgba(0,0,0,0.5);
    padding:8px 16px;
    display:inline-block;
    border-radius:10px;
    transition:0.5s;
}

header.primary nav a:hover{
  background-color:rgba(0,0,0,0.75);
}

#intro {
  border-bottom: 1px dotted #000000;
  padding-bottom:1.2rem;
}

#intro h2{
  color:#3b638b;
  border-bottom: 1px dotted #000000;
}

@media screen and (max-width:600px){

    header.primary nav ul{
      flex-direction:column;
    }

    header.primary nav a{
      display:block;
    }
    
    header.primary nav li{
      margin-bottom:10px;
    }
}